<div id="lobby">
	<div class="modal-wrap" ng-show="!$root.screenName">
		<div class="modal">
			<form ng-submit="register()">
				<label for="screen-name-input">Enter your screen name</label>
				<p class="table-requirements error" ng-show="registerError">{{registerError}}</p>
				<input id="screen-name-input" class="input-left" type="text" ng-model="newScreenName" ng-trim="true" required>
				<input type="submit" value="Submit">
			</form>
		</div>
		<div id="curtain" ng-show="!$root.screenName"></div>
	</div>
	<table id="table-list">
		<tr>
			<th class="dark-border">Name</th>
			<th class="dark-border">BB/SB</th>
			<th>Players</th>
		</tr>
		<tr ng-repeat="table in lobbyTables">
			<td><a href="/table-{{table.seatsCount}}/{{table.id}}">{{table.name}}</a></td>
			<td class="centered-text">{{table.bigBlind}}/{{table.smallBlind}}</td>
			<td class="centered-text">{{table.playersSeatedCount}}/{{table.seatsCount}}</td>
		</tr>
	</table>
</div>			

<br>


<p id="developer-info">
	Developed by George Balasis. View the code on <a href="https://github.com/geobalas/Poker" target="_blank">github</a>.
</p>
